@import "tailwindcss";

@font-face {
    font-family: 'Vivaldi';
    src: url('/assets/font/vivaldi-italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lucida';
    src: url('/assets/font/LucidaUnicodeCalligraphy.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Codex';
    src: url('/assets/font/CodexLTRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Anaktoria';
    src: url('/assets/font/Anaktoria.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amoresa';
    src: url('/assets/font/amoresa-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'glacial';
    src: url('/assets/font/glacial-indifference.regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'citadel';
    src: url('/assets/font/CitadelScriptStd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@theme {
    --font-vivaldi: 'Vivaldi', cursive;
    --font-lucida: 'Lucida', cursive;
    --font-codex: 'Codex', serif;
    --font-anaktoria: 'Anaktoria', cursive;
    --font-amoresa: 'Amoresa', cursive;
    --font-glacial: 'glacial', sans-serif;
    --font-citadel: 'citadel', cursive;
    --font-amiri: 'Amiri', serif;
}


@layer base {
    :root {
        --bg: #f9f5f0;
    }

    html, body {
        max-width: 430px;
        margin: 0 auto;
        min-height: 100vh;
        overflow-x: hidden;

        background-color: var(--bg);
    }
}